venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
*.ogg
*.mp3
*.wav
!voices/*.mp3
!voices/*.wav
!voices/*.ogg
benchmark_report.txt
test_scripts/
padded_voices/
/node_modules
/personal_dialogs
/voices
/higgs/higgs_audio_v3_ar_prefill_matmul4.onnx.data
/higgs/higgs_audio_v3_ar_decode_matmul4.onnx.data
/higgs/higgs_audio_v3_vocoder_decode.onnx.data
/higgs/higgs_audio_v3_vocoder_decode_matmul4.onnx.data
